/* ------------------------------------------------------------------------------------------------------------------ */
/* No clicking non text stuff --------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
body { 
  background-color: #374646;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #CFD8DC;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Background and Main divs ----------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
.bgTransition {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  display: table;
  min-height: 600px;
  height: 100%;
  width: 100%;
  opacity: 0;
}

#bgTop {
  z-index: -1;
}

#bgBot {
  z-index: -2;
}

#overlay {
  background-color: rgba(45, 45, 40, 0.8);
  position: absolute;
  display: table;
  min-height: 600px;
  height: 100%;
  width: 100%;
}

#content {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  opacity: 0;
}

#divStack {
  position: fixed;
  overflow: hidden;
  display: none;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: -3;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Navigation bar and buttons on top -------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
#navBar {
  background-color: rgba(35, 35, 35, 0.85);
  position: fixed;
  display: table;
  text-align: center;
  margin-top: 0px;
  width: 100%;
  z-index: 2;
}

.navButton {
  display: inline-block; 
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
@media all and (min-width: 0px)   { .navButton{padding-left: 10px; padding-right: 10px; }}
@media all and (min-width: 550px) { .navButton{padding-left: 25px; padding-right: 25px; }}

.navButton.active {
  color: #FFB74D; 
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Travel bar and buttons ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
#travelBar {
  margin-top: calc(30vh + 250px);
  text-align: center;
  position: absolute;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: 1;
}

.button { 
  background-color: rgba(80, 85, 90, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 3px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.button.active {
  color: #FFB74D; 
  background-color: rgba(35, 35, 35, 0.9);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Text and stuff --------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
h1 {
  margin-top: 30vh;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 300;
  opacity: 1;
}
@media all and (min-width: 0px)   { h1{ width: 95%;   font-size: 13vw;  }}
@media all and (min-width: 800px) { h1{ width: 760px; font-size: 100px; }}

h2 {
  text-align: right;
  margin-top: 6px;
  margin-bottom: -15px;
  font-size: 25px;
  font-weight: 100;
  color: #FFB74D;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

h3 {
  text-align: right;
  margin-bottom: -10px;
  font-weight: 100;
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

h4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  line-height: 1.5;
  text-align: justify;
  font-size: 17px;
  font-weight: 300;
  opacity: 1;
}
@media all and (min-width: 0px)   { h4{ width: 95%;   }}
@media all and (min-width: 800px) { h4{ width: 760px; }}

.contactText {
  text-align: center;
}

#textBarLeft {
  position: fixed;
  height: 90px;
  bottom: 0px;
  left: 0px;
}
@media all and (min-width: 0px)    { #textBarLeft{ width: 250px; }}
@media all and (min-width: 1000px) { #textBarLeft{ width: 25%    }}

.textBarMiddle {
  text-align: left;
}
@media all and (min-width: 0px)    { .textBarMiddle { width: 400px; }}
@media all and (min-width: 650px)  { .textBarMiddle { width: 65%;   }}
@media all and (min-width: 1000px) { .textBarMiddle { width: 50%;   }}

#textBar {
  background-color: rgba(35, 35, 35, 0.85);
  position: fixed;
  display: table;
  bottom: 0px;
  height: 90px;
  width: 100%;
  z-index: 1;
  display: none;
}

#location {
  font-size: 17px;
}
#date {
  font-size: 15px;
  font-style: italic;
  color: #B0BEC5;
}
