body {
  background-color: #FAFAFA;
  display: flex;
  margin: 0px;
  padding: 0px;
  font-family: roboto;
  font-size: 15px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.85);
}

a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

a:hover {
  color: #01579B;
  text-decoration: underline;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #000;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #000;
}

h4, p {
  margin-top: 0px;
  margin-bottom: 5px;
}

ul {
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul ul {
  padding-left: 20px;
}

li {
  margin-top: 3px;
  margin-bottom: 4px;
  line-height: 1.5;
}

#container {
  margin: auto;
  width: 95vw;
  max-width: 830px;
}

#resume-header {
  display: flex;
  flex-direction: horizontal;
}

#email {
  margin: auto;
  margin-right: 12px;
}

#phone {
  margin: auto;
  margin-left: 12px;
}

#projects {
  line-height: 1.5;
}

.section {
  margin-bottom: 12px;
}

.title {
  letter-spacing: 0.65px;
  display: inline-block;
}

.date {
  display: inline-block;
  float: right;
}

.fa {
  margin-right: 4px;
}

@media print {
  @page {
    margin: 0;
  }
  body {
    background-color: #FFF;
    margin: 0.5in;
    margin-top: 0.25in;
    margin-bottom: 0.25in;
    font-size: 12px;
  }
}
